.vaccination_page {
  margin-top: 28px;
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
}

.vaccination_state_name_head_card {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.home_icon_style {
  color: white;
  margin-right: 12px;
  height: 20px;
  width: 20px;
}
.state_head_style {
  color: #cbd5e1;
  font-size: 20px;
  font-weight: 500;
  font-family: 'roboto';
}

@media (min-width: 900px) {
  .vaccination_page {
    margin-top: 64px;
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 120px;
  }
  .state_head_style {
    font-size: 32px;
  }
  .home_icon_style {
    height: 32px;
    width: 32px;
  }
}

.state_districts_dropdown_con {
  display: flex;
  align-items: center;
}

.state_names_select_card {
  width: 104px;
  height: 30px;
  background-color: #222234;
  border: none;
  border-radius: 4px;
}
.state_option_style {
  background-color: #f8fafc;
}
.district_names_select_card {
  width: 104px;
  height: 30px;
  background-color: #222234;
  border: none;
  border-radius: 4px;
  margin-left: 5px;
}
@media (min-width: 900px) {
  .state_districts_dropdown_con {
    align-self: flex-end;
  }
  .state_names_select_card {
    width: 264px;
    height: 52px;
  }
  .district_names_select_card {
    width: 264px;
    height: 52px;
  }
}

.vaccination_sites_doses_con {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.vaccination_sites_card {
  display: flex;
  background-color: #2f2f43;
  border-radius: 12px;
  border: none;
  width: 312px;
  height: 138px;
  padding: 24px;
  margin-bottom: 10px;
}
.vaccination_img {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.sites_stats_card {
  display: flex;
  flex-direction: column;
}
.site_conducting_card {
  display: flex;
  flex-direction: column;
}
.site_conducting_style {
  color: #cbd5e1;
  font-size: 12px;
  font-weight: 500;
  font-family: 'roboto';
  margin-top: 0px;
}
.site_conducting_stats_style {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  font-family: 'roboto';
  margin-top: 0px;
}

.government_private_sites_card {
  display: flex;
}
.site_government_card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.site_government_style {
  color: #cbd5e1;
  font-size: 12px;
  font-weight: 400;
  font-family: 'roboto';
  margin-top: 0px;
}

.site_government_stats_style {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  font-family: 'roboto';
  margin-top: 0px;
}

.site_pvt_card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.site_pvt_style {
  color: #cbd5e1;
  font-size: 12px;
  font-weight: 400;
  font-family: 'roboto';
  margin-top: 0px;
}

.site_pvt_stats_style {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  font-family: 'roboto';
  margin-top: 0px;
}
.vaccination_doses_card {
  display: flex;
  background-color: #2f2f43;
  border-radius: 12px;
  border: none;
  width: 312px;
  height: 138px;
  padding: 24px;
}
.admin_img {
  height: 40px;
  width: 40px;
  margin-right: 12px;
}

.doses_stats_card {
  display: flex;
  flex-direction: column;
}
.total_doses_card {
  display: flex;
  flex-direction: column;
}
.total_doses_style {
  color: #cbd5e1;
  font-size: 12px;
  font-weight: 500;
  font-family: 'roboto';
  margin-top: 0px;
}
.total_doses_stats_style {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  font-family: 'roboto';
  margin-top: 0px;
}

.dose1_dose2_card {
  display: flex;
}
.dose1_card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.dose1_style {
  color: #cbd5e1;
  font-size: 12px;
  font-weight: 400;
  font-family: 'roboto';
  margin-top: 0px;
}

.dose1_stats_style {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  font-family: 'roboto';
  margin-top: 0px;
}

.dose2_card {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.dose2_style {
  color: #cbd5e1;
  font-size: 12px;
  font-weight: 400;
  font-family: 'roboto';
  margin-top: 0px;
}

.dose2_stats_style {
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  font-family: 'roboto';
  margin-top: 0px;
}

@media (min-width: 900px) {
  .vaccination_sites_doses_con {
    flex-direction: row;
    justify-content: space-between;
  }
  .vaccination_sites_card {
    padding: 32px;
    height: 192px;
    width: 420px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .vaccination_doses_card {
    padding: 32px;
    height: 192px;
    width: 420px;
  }
  .vaccination_img {
    height: 47px;
    width: 47px;
  }
  .site_conducting_style {
    font-size: 18px;
  }
  .site_conducting_stats_style {
    font-size: 18px;
  }
  .site_government_style {
    font-size: 18px;
  }
  .site_government_stats_style {
    font-size: 18px;
  }
  .site_pvt_style {
    font-size: 18px;
  }
  .site_pvt_stats_style {
    font-size: 18px;
  }
  .admin_img {
    height: 47px;
    width: 47px;
  }
  .total_doses_style {
    font-size: 18px;
  }
  .total_doses_stats_style {
    font-size: 18px;
  }
  .dose1_style {
    font-size: 18px;
  }
  .dose1_stats_style {
    font-size: 18px;
  }
  .dose2_style {
    font-size: 18px;
  }
  .dose2_stats_style {
    font-size: 18px;
  }
}

.vaccination_timeline_multi_chart_con {
  background-color: #1c1c2b;
  min-width: 100%;
  height: 498px;
  overflow: auto;
  border-radius: 12px;
  border: none;
}

.vaccination_line_con {
  margin-left: 24px;
  margin-right: 24px;
  background-color: #1c1c2b;
  border-radius: 10px;
  padding: 10px;
  overflow-x: scroll;
}

.vaccination_line_chart_head {
  font-size: 24px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #94a3b8;
}

.vaccination_line_chart_button_card {
  display: flex;
  margin-bottom: 10px;
}
.vaccination_line_chart_byDoses_active_Button {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #ffffff;
  height: 50px;
  width: 90px;
  border-top: none;
  border-bottom: 2px blue solid;
  border-left: none;
  border-right: none;
  background-color: transparent;
  margin-right: 10px;
}
.vaccination_line_chart_byDoses_deActive_Button {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #ffffff;
  height: 50px;
  width: 90px;
  border-top: none;
  border-bottom: 2px #ffffff solid;
  border-left: none;
  border-right: none;
  background-color: transparent;
  margin-right: 10px;
}

.vaccination_line_chart_byAge_active_Button {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #ffffff;
  height: 50px;
  width: 90px;
  border-top: none;
  border-bottom: 2px blue solid;
  border-left: none;
  border-right: none;
  background-color: transparent;
}
.vaccination_line_chart_byAge_deActive_Button {
  font-size: 12px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #ffffff;
  height: 50px;
  width: 90px;
  border-top: none;
  border-bottom: 2px #ffffff solid;
  border-left: none;
  border-right: none;
  background-color: transparent;
}

@media (min-width: 900px) {
  .vaccination_line_con {
    margin-left: 150px;
    margin-right: 150px;
  }
  .vaccination_line_chart_head {
    font-size: 18px;
  }
}

.vaccination_pie_radius_con {
  display: flex;
  flex-direction: column;
  padding-left: 24px;
  padding-right: 24px;
  margin-top: 24px;
}
.vaccination_pie_half_radius_con {
  display: flex;
  flex-direction: column;
  background-color: #1c1c2b;
  border-radius: 10px;
  width: 100%;
  padding: 20px;
}

.vaccination_pie_radius_chart_head {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #94a3b8;
}

.vaccination_pie_full_radius_circle_con {
  display: flex;
  flex-direction: column;
  background-color: #1c1c2b;
  padding: 20px;
  width: 100%;
  margin-top: 10px;
}

.vaccination_pie_full_radius_chart_head {
  font-size: 18px;
  font-weight: 600;
  font-family: 'Roboto';
  color: #94a3b8;
}

@media (min-width: 768px) {
  .vaccination_pie_radius_con {
    flex-direction: row;
    padding-left: 150px;
    padding-right: 150px;
  }
  .vaccination_pie_half_radius_con {
    width: 50%;
  }

  .vaccination_pie_radius_chart_head {
    font-size: 24px;
  }
  .vaccination_pie_full_radius_circle_con {
    width: 50%;
    margin-left: 10px;
    margin-top: 0px;
  }
  .vaccination_pie_full_radius_chart_head {
    font-size: 24px;
  }
}
